@import "tailwindcss";

@plugin "daisyui" {
  /* themes: light --default; */
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #F97316;
  --color-secondary: #FACC15;
  --color-base-200: #FFFFFF;
  --color-base-300: #374151;
  --color-accent: #F5F5F4;
}


@custom-variant dark (&:where(.dark, .dark *));

@media screen and (min-width: px) and (max-width: 1021px) {
  .meal-card {
   margin-left: 5px;
   margin-right: 5px;
  }
}